@import "tailwindcss";

*{
  font-family: 'Poppins', sans-serif;
}

.tipewriter{
  overflow: hidden;
  border-right: .15em solid rgb(70, 70, 215);
  white-space: nowrap;
  width: 0;
  animation : typing 3.5s steps(22, end) forwards, blink-caret .75s step-end infinite;
}

@keyframes typing{
  from { width: 0 }
  to { width: 18ch }

}

@keyframes blink-caret{
  from, to { border-color: transparent }
  50% { border-color: rgb(61, 61, 175); }
}